{% extends 'base.html' %}
{%load static%}
{%block content%}

<div class="text-center">
    <h1>{{ title }}</h1>
    <h1>Hello, world we're working !</h1>
    </div>
   <div class="container">
   <div class="row text-center">
       <div class="col">
           <p>{{ content }}</p>
       </div>
   </div>
       <div class="row">
           <div class="col-md-3">
           </div>
           <div class="col-md-6">
               <form method="POST">
                    {{form.as_p}}
                   {% csrf_token %}
                   <div class="row">
                    <div class="col-md-5">
                    </div>
                   <div class="col-md-2">
                   <button type="submit" class="btn btn-success">Submit</button>
                   </div>
                   <div class="col-md-4">
                    </div>
                       </div>
               </form>
           </div>
           <div class="col-md-3">
           </div>
       </div>
           </div>
       </div>
   </div>
   </div>
{%endblock%}

