<!doctype html>
{%load static%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BASE TEMPLATE</title>
    {% include 'base/css.html' %}
    {%block base_head%}{%endblock%}
  </head>
  <body>
    {% include 'base/navbar.html' with brand_name='HeavyBucket' %}
    <div class="container">
      {%block content%} {%endblock%}
    </div>
    {% include 'base/js.html' %}


    <script type="text/javascript">

      $(document).ready(function(){

          var productForm = $(".form-product-ajax")
          productForm.submit(function(event){
              event.preventDefault();
              var thisForm = $(this)
              // var actionEndpoint = thisForm.attr("action");
              var actionEndpoint = thisForm.attr("data-endpoint");
              var httpMethod = thisForm.attr("method");
              var formData = thisForm.serialize();
              console.log(thisForm.attr("action"),thisForm.attr("method"))

              $.ajax({
                  url:actionEndpoint,
                  method:httpMethod,
                  data:formData,
                  success:function(data){
                      console.log("Success");
                      console.log(data);
                      console.log(data.added);
                      console.log(data.removed);
                      var submitSpan = thisForm.find(".submit-span");
                      if (data.added){
                            submitSpan.html("In Cart <button type=\"submit\" class=\"btn btn-link\">Remove?</button>")
                      }
                      else {
                            submitSpan.html("<button type=\"submit\" class=\"btn btn-success\">Add to Cart</button>")
                      }
                      var navbarCount = $(".navbar-cart-count");
                      navbarCount.text(data.cartItemCount);
                      var currentPath = window.location.href;
                      if (currentPath.indexOf("cart")!= -1){
                          refreshCart()
                      }

                                   },
                  error:function (errorData) {
                      console.log("Error");
                      console.log(errorData);
                  }
              })
          })
                function refreshCart() {
                    console.log("In current Cart")
                    var cartTable = $(".cart-table")
                    var cartBody = cartTable.find(".cart-body")
                    cartBody.html("<h1>Changed</h1>")

                    //Use of data grabbed from an endpoint to refresh cart on click of remove link in cart iteself
                    var refreshCartUrl = '/api/cart/'
                    var refreshCartMethod = "GET";
                    var data = {};

                    $.ajax({
                        url: refreshCartUrl,
                        method: refreshCartMethod,
                        data:data,
                        success:function(data){
                            console.log("Success")
                        },
                        error:function(errorData){
                            console.log("Error")
                            console.log(errorData)
                        }

                    })


                }
      })

    </script>


  </body>
</html>